:root {
  --raisin-black: #1b1e25ff;
  --engineering-orange: #b80c09ff;
  --amber: #ffbd00ff;
  --mint-cream: #f7fff7ff;
  --air-superiority-blue: #6ca6c1ff;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* SLIDER RUSO */


html,
    body {
      position: relative;
      height: 100%;
    }

    /* body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    } */

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      /* justify-content: center; */
      /* align-items: center; */
      justify-content: center;
      align-items: center;
    }

    /* .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */


/* FIN SLIDER RUSO */




h1 {
  font-size: 2rem;
}

.nave {
  height: 10vh;
  width: 100vw;
  /* background-color: var(--air-superiority-blue); */
  position: fixed;
  top: 0;
  border: rgb(80, 33, 209) solid 2px;
}

.nave ul {
  display: flex;
  justify-content: space-between;
  /* border: rgb(80, 33, 209) solid 2px; */
}

/* li{
  border: rgb(27, 219, 130) solid 2px;
} */

.nave div {
  height: 10vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--air-superiority-blue);
}

.nave div:hover {
  background-color: var(--amber);
}

.caja-prin{
  /* display: flex; */
/* flex-direction: column; */
/* border: solid px violet; */
/* justify-content: space-around; */
  /* margin: auto; */
}

.secciones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: var(--raisin-black); */
  /* border: red solid 2px; */
  /* height: 90vh; */
  height: 100vh;
  width: 100vw;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient( to bottom right, var(--air-superiority-blue), var(--raisin-black), var(--engineering-orange));
  /* border: rgb(37, 27, 168) solid 2px; */
}

.logo-dani{
  background-image: url("../Logos/DD3.PNG");
  width: 100%;
  height: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  /* border: red solid 2px; */
}

.skills {
  background-color: var(--raisin-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.grupo-skills {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: red solid 1px;
}

.skill {
  width: 90%;
  /* width: 100%; */
  height: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: var(--amber) 1px solid;
  border-bottom: fuchsia 1px solid;
  /* border: fuchsia 1px solid; */
}

.skill h2 {
  width: 8rem;
  color: var(--mint-cream);
  border: red solid 1px;
}

.skill2{
  color: var(--mint-cream);
  border: red solid 2px;
}

.logo {
  width: 8rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: red solid 2px;
}

.html {
  /* border: red solid 2px; */
  background-image: url("../Logos/html4.webp");
}

.css {
  background-image: url("../Logos/css32.png");
}

.js {
  background-image: url("../Logos/javascript.png");
}

.react {
  background-image: url("../Logos/react.jpg");
}

.logo-pareja {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: linear-gradient(0.25turn, var(--raisin-black), #ebf8e1, var(--raisin-black)); */

  /* background: linear-gradient(
    to right,
    #000,
    #111,
    #222,
    #333,
    #444,
    #555,
    #666,
    #777,
    #888,
    #999,
    #fff
  ); */
}

.logos2 {
  width: 45%;
  height: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.git {
  background-image: url("../Logos/git\ solo1.png");
}

.github {
  background-image: url("../Logos/github\ solo.png");
}
